.hero {
    height: 650px;
    background-image: url("../../assets/images/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;

    h1 {
        color: #fff;
        font-size: 64px;
        font-weight: 700;
    }
}