.sub-header {
    // padding: 0px 20px;
    border-bottom: 2px solid #FAFAFB;

    &__items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        justify-content: none;
        gap: 20px;
        padding: 5px;

        p {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            font-size: 20px;
            color: #949494;
        }
    }

    &__items-link {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        sub {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__items-icon {
        color: #000;
        font-size: 20px;
    }

}

.nav {
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    // transition: 5s;

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        font-size: 18px;
        font-weight: 700;
        color: #353535;

    }

    &__links {
        width: 60%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-size: 20px;
        font-weight: 500;
        color: #353535;
        z-index: 99;
    }

    &__links-btn {
        display: none !important;
        // visibility: hidden;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0px 20px;

        button {
            border: none;
            font-size: 18px;
            background-color: #fff;
        }
    }

    &__burger-btn {
        display: none;
        font-size: 22px;
        border: none;
        background-color: transparent;
    }

    .arrow {
        display: none;
    }

}


.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // padding: 15px;
    background-color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #aaa2;
    backdrop-filter: blur(3px);
    z-index: 998;
}





@media (max-width: 960px) {
    .nav__links {
        font-size: 18px;
    }
}

@media (max-width: 750px) {
    .nav__burger-btn {
        display: block;
    }

    .nav__links-btn {
        display: block !important;
    }

    .nav__links {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 40px;
        position: fixed;
        top: 0;
        left: -100%;
        width: 55%;
        height: 100vh;
        background-color: #fff;
        border-right: 1px solid #ddd;
        transition: .4s;
        z-index: 999;

        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0px 20px;
        }

        a:hover {
            border-left: 2px ;
        }
    }
    .arrow {
        display: block !important;
    }
    .show__list{
        left: 0;
        transition: .4s;
    }
}

@media (max-width: 440px) {
    .nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sub-header {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid #ddd;
        background-color: #fff;
        // padding: 0px 100px;
        width: 100%;
        z-index: 9;

        &__items {
            justify-content: space-between;
        }

        // padding: 0px;
        p {
            display: none;
        }
    }
}

@media (max-width: 400px) {
    .nav__burger-sidebar {
        width: 55%;
        font-size: 16px;

    }
}